<div class="dish-container">

  {% liquid
    assign template = '/recipes/dish/id={id}'
    assign params = context.location.pathname | extract_url_params: template
    assign recipeId = params['id']

    graphql recipe = 'food/search_by_id', id: recipeId
  %}

  <h2>{{ recipe.records.results[0].name }}</h2>

  <div class="dish-details">
    <img
      src="{{ recipe.records.results[0].img_url }}"
      alt="{{ recipe.records.results[0].name }}"
      class="recipe-image">

    <h4>Ingredients:</h4>

    <div class="ingredients-container">
      <ul>
        {% assign items = recipe.records.results[0].ingredients %}
        {% for ingredient in items %}
          <li>
            {{ ingredient }}
          </li>
        {% endfor %}
      </ul>
      <form action="add" method="post">
        <input
          type="hidden"
          name="items"
          value="{{ items }}">
        <input
          type="hidden"
          name="recipeId"
          value="{{ recipeId }}">
        <button type="submit">Add ingredients to shopping list</button>
      </form>
    </div>


    <h4>Recipe:</h4>

    <p>
      {{ recipe.records.results[0].recipe }}
    </p>
  </div>
</div>

<a href="/recipes/recipes" class="back-button">Back</a>